@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

::-webkit-scrollbar {
    width: 5px;
    background-color: $netflix-black;
}

::-webkit-scrollbar-track {
    background-color: $netflix-black;
}

img {
    width: 100%;
}

.text-my-red {
    color: $netflix-red;
}

.bg-my-red {
    background-color: $netflix-red;
}

.bg-my-black {
    background-color: $netflix-black;
}

.bg-my-light-brown {
    background-color: $netflix-light-brown;
}

